asgiref==3.4.1; python_version >= "3.8"
click==8.0.3; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0"
django==4.0; python_version >= "3.8"
djangorestframework==3.12.4; python_version >= "3.5"
pillow==8.4.0; python_version >= "3.6"
sqlparse==0.4.2; python_version >= "3.8"
svgwrite==1.4.1; python_version >= "3.6"
tree==0.2.4
tzdata==2021.5; sys_platform == "win32" and python_version >= "3.8"
